/*Arquitectura: First-Mobile*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: grid;
    gap: 1rem;
    color:white;
    grid-template-areas:
    'nav'
    'filters'
    'products'
    'footer';
    height: 100dvh;

}

/*navbar*/
nav{
grid-area: nav;
background-color: #333;
padding: 1.5rem;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.nav-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1rem;
}



.navmenu-desktop{
    display: none;
}
/*filter*/

aside{
grid-area: filters;
background-color: #333;
padding: 1rem;
}

.filter-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: #ddd;
    color: #333;
}
/*Gallery + pagination*/
main{
grid-area: products;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}


.gallery-grid{
   
    display: grid;
    height: 100%;
    padding: 1rem;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.card img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    padding: .5rem;
}

.card{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    gap: .7rem;
    background-color: #eee;
    padding: .5rem;
    border-radius: 5px;

}

.card-body{
    text-align: center;
}


.card.mobile{
    display: none;
}

.pagination{

 color: #333;
}

.pag-container{
 padding: 1.5rem 0 1rem 0;
}

.pag-box{
    display: flex;
    justify-content: center;
    padding: .1rem 2rem;
    background-color: #fff;
    list-style-type: none;
}

.pag-box a{
        text-decoration: none;
        cursor: pointer;
        color: #000fff;
        transition: color, .3s ease-in-out ;
}

.pag-box a:hover{
     color: #00081f;
}

.pag-item{
     padding: 1rem 1.2rem;
}

.pag-item.arrow{

}

.pag-item.arrow.left{
    border-top: 1px solid  #c1c1c1;
    border-bottom: 1px solid  #c1c1c1;
    border-left:  1px solid  #c1c1c1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pag-item.arrow.right{

    border-top: 1px solid  #c1c1c1;
    border-bottom: 1px solid  #c1c1c1;
    border-right:  1px solid  #c1c1c1;
    border-left: 1px solid  #c1c1c1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pag-item.number{
   padding: 1rem 1.4rem;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid  #c1c1c1;
    border-bottom: 1px solid  #c1c1c1;
}

.pag-item i{
        font-size: .8rem;
}





footer{
  grid-area: footer;
  background-color: #333; 
  text-align: center; 
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin:1rem;
}

.redes i{
    font-size: 2.5rem;;
}

/*mobile img-display settting*/




.redes{

}

@media (min-width: 576px){
    

.container{
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    'nav filters'
    'nav products'
    'footer products';


}

.navmenu-mobile{
 display: none;
}

.navmenu-desktop{
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.gallery-grid{
   grid-template-columns: repeat(2,1fr);
}
    

.gallery img{
    height: 15rem;

}


.card.mobile{
     display: flex;
}

.card.tablet{
     display: none;
}



}

@media (min-width: 767px){

.gallery-grid{
    grid-template-columns: repeat(3,1fr);
}

.card.tablet{
     display: flex;
}

.card.desktop{
     display: none;
}




    
}

@media (min-width: 992px){
    .gallery-grid{
    grid-template-columns: repeat(4,1fr);
}

.gallery img{
    height: 10rem;

}


.card.desktop{
     display: flex;
}

.card.large{
     display: none;
}

}

@media (min-width: 1200px){
    
}